# Скопируйте в .env и заполните значения
PG_PASS=changeme_strong_password

GITHUB_CLIENT_ID=your_github_oauth_app_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret

# GitLab Service Account Token (роль Reporter на репозитории задания)
GITLAB_TOKEN=glpat-xxxxxxxxxxxxxxxxxxxx
GITLAB_BASE_URL=https://gitlab.com
GITLAB_WEBHOOK_SECRET=some_random_secret_string

OUTBOX_INTERVAL=5

